<nav>
            <a href="itis3135/">ITIS3135</a> ~ 
            <a href="https://github.com/vilvt" target="_blank">GitHub.com</a> ~ 
            <a href="http://webpages.charlotte.edu/shatfie5/" target="_blank">CLT Web</a> ~ 
            <a href="http://vilvt.github.io/" target="_blank">GitHub.io</a> ~ 
            <a href="https://www.linkedin.com/in/hatfieldsaige/" target="_blank">LinkedIn</a> ~
            <a href="https://www.freecodecamp.org/vilvt/" target="_blank">freeCodeCamp</a> ~
            <a href="https://www.codecademy.com/profiles/vilvt" target="_blank">Codecademy</a>
    </nav>
    <nav>
    <p>Page designed by © 2025 <a href = "hatfielddesigns.com">Hatfield Designs</a></p>
    </nav>